h1{
    text-align: center;
    margin-top: 20px;
}
p {
    font-weight: bold;
}
.About-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 50px;
}
.aboutus{
    width:300px;
    height:500px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    align-items: center;
}
.gitIcon{
    text-decoration: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.gitIcon:hover{
   -webkit-transform: scale(0.85);
   -moz-transform: scale(0.85);
   -ms-transform: scale(0.85);
   transform: scale(0.85);
 }
 .photo {
    width:120px;
    height: 120px;
    text-align: center;
    margin: auto;
    line-height: 300px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 1px rgb(88, 200, 245);
}
#photoProfil1 {
    background-image: url(https://placeimg.com/640/480/tech);
}
#photoProfil2 {
    background-image: url(https://placeimg.com/640/480/tech);
}
#photoProfil3 {
    background-image: url(./image/00000038106.jpg);
}
#photoProfil4 {
    background-image: url(./image/00000041084.jpg);
}
