.gitIcon{
    text-decoration: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.gitIcon:hover{
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
    margin: 32px auto 18px auto;
    box-shadow: 1px 1px 20px 1px rgb(88, 200, 245);
}

.logo {
    width: 48px;
    height: 48px;
    background-clip: padding-box;
    background-size: cover;
    background-position: center center;
    margin: 18px auto 4px auto;
}

#logo {
    background-image: url(./images/orange.png);
}

#photoProfil1 {
    background-image: url(./images/00000038106.jpg);
}

#photoProfil2 {
    background-image: url(./images/00000041281.png);
}

#photoProfil3 {
    background-image: url(./images/00000041084.jpg);
}

#photoProfil4 {
    background-image: url(./images/00000040027.jpg);
}

@media only screen and (min-width: 600px) {
    .About-Us {
        min-height: 100vh;
    }
}