.Root {
    margin: 18px 0 24px 0;
}

/*** CARD ***/
.Card {
    margin: 0 0 8px 0;
}

.Confirmed-Card {
    background-color: #FFA500;
}

.Recovered-Card {
    background-color: #228B22;
}

.Deaths-Card {
    background-color: #DC143C;
}

/*** FOOTER ***/
.Footer {
    color: #fff;
    background-color: #3f51b5;
    padding: 16px;
    text-align: center;
}

.Sub-Footer {
    background-color: #cccccc;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);;
}

.Sub-Footer a {
    color: rgba(0, 0, 0, 0.87);;
}